mixin profile
    main.profile
        div
            h2 Profile
        div.nameblock
            span.ja.name 田中 太郎
            span.ro.name Tanaka Tarou
        .infomation
            .info
                i.las.la-envelope
                h3 Contact
                span example@example.com
            //- .info
                i.lab.la-github
                h3 Portfolio
                a(href="https://github.com/jaspis1997") https://github.com/jaspis1997