mixin profile
    main.profile
        div
            h2 Profile
        div.nameblock
            //- 漢字の名前をここに記入
            span.ja.name 田中 太郎
            //- ローマ字の名前を記入で記入
            span.ro.name Tanaka Tarou
        .infomation
            .info
                i.las.la-envelope
                h3 Contact
                //- メールアドレスをここに記入
                span example@example.com
            //- .info
                i.lab.la-github
                h3 Portfolio
                a(href="https://github.com/jaspis1997") https://github.com/jaspis1997